[Unit]
Description=Prometheus Alertmanager
After=network.target

[Service]
Type=simple
PIDFile=/var/run/alertmanager.pid
User=alertmanager
Group=alertmanager
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/alertmanager \
  --config.file={{ alertmanager_config_dir }}alertmanager.yml \
  --storage.path={{ alertmanager_data_dir }} \
  --web.listen-address=127.0.0.1:9093 \
  --web.external-url=http://localhost:9093/

SyslogIdentifier=alertmanager
Restart=always

[Install]
WantedBy=multi-user.target
